@model IEnumerable<MovieRental.Models.Customer>
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Customers</h2>
    <table class="container table table-bordered table-striped">
        <thead>
            <tr >
                <th class="col-md-6">
                    Name
                </th>
                <th class="col-md-6">
                    Membership Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model)
            {
                <tr >
                    <td >
                        @Html.ActionLink(cust.CustomerName, "Details", "Customer", new { CustId = cust.Id }, null)
                    </td>
                    <td >
                        @cust.CustomerMembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    